.adminpanel-conatiner{
    max-width: 2000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 800px;
}
.adminpanel-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    width: 70%;
    height: 60px;
    border-radius: 15px;
    font-size: 25px;
    margin-bottom: 50px;
}

@media (max-width: 800px) {
    .adminpanel-link{
    width: 100%;
    }

}