:root {
    --height-slider: 400px;
    --width-slider: 370px;

}


.home-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2000px;
    width: 100%;

}
.home-slider-product-img-container1{
    height: 70%;
}
.home-slider-product-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.home-slider-product-img {
    max-width: 70%;
    max-height: 70%;
}

.home-slider-product {
    height: var(--height-slider);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: var(--width-slider);
    margin: 5px;
    padding: 10px;
    border: 2px solid lightgray;
}
.home-slider-product label{
    height: 15%;
}
.home-container {
    width: 100%;
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}

.home-container h1 {
    margin-left: 40px;
}

.home-slider-buttons {
    max-width: 30px;
    max-height: 30px;
    /* border-radius: 7px;
    border: none;
    min-width: 40px;
    z-index: 99;
    margin-left: 0px;
    padding: 2px; */
}

@media only screen and (max-width: 1750px) {
    :root {
        --width-slider: 300px;
    }
}
@media only screen and (max-width: 1500px) {
    :root {
        --width-slider: 250px;
    }
}
@media only screen and (max-width: 1250px) {
    :root {
        --width-slider: 200px;
    }
}
@media only screen and (max-width: 1050px) {
    :root {
        --width-slider: 350px;
    }
}
@media only screen and (max-width: 900px) {
    :root {
        --width-slider: 250px;
    }
}


