@import url("./variable.css");

.home {
    align-items: center;
    justify-content: flex-start;
}

.home h1 {
    margin-left: 40px;
    font-size: 1.5rem;
}

.home__banner{
    width: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.home__banner img{
    width: 100%;
    border-radius: 30px;
    margin: 0 0 20px 0;
}


