:root {
    --height-slider: 400px;

}


.home-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2000px;


}

.image {
    width: 100%;
    height: 100%;
}

.home-slider-product {
    height: var(--height-slider);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    max-width: 300px;
    margin: 5px;
    background-color: lightgrey;


}

.home-container {
    width: 100%;
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}

.home-container h1 {
    margin-left: 40px;
}

.slider-next-button {
    border-radius: 7px;
    border: none;
    min-width: 40px;
    z-index: 99;
    margin-left: 0px;
}



@media only screen and (max-width: 1200px) {
    :root {
        --height-slider: 300px;
    }
}

@media only screen and (max-width: 850px) {
    :root {
        --height-slider: 250px;
    }
}