:root {
    --title-font-size: 40px;
}


.nav-container {
    display: flex;
    flex-direction: flex-start;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
.nav-container1 {
    width: 100%;
    max-width: 2000px;
}


.nav-main {   
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.nav-left {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-logo {
    width: 300px;
    height: 100px;
}

.nav-login {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    justify-content: space-between;
}

.nav-search-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.nav-search {
    width: 300px;
    height: 30px;
}

.nav-search-select {
    width: 100px;
    height: 35px;
}

.nav-search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    height: 33px;
    padding-right: 5px;
    padding-left: 5px;
}


.nav-right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-cart {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: flex-end;

}


.nav-dropdownMenu-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-dropdownMenu-container {
    position: relative;
    display: inline-block;
}

.nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    color: black;
    width: 120px;
    height: 80px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.nav-button:hover {
    font-size: 105%;
    border: 3px solid #E8E8E8;
    background-color: #ffffff;
}

.nav-dropdownMenu-show {
    border-radius: 10px;
    border: 3px solid #E8E8E8;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    width: 250px;
    min-width: 150px;
    background-color: #f5f5f5;
    margin-bottom: 60px;
}

.nav-dropdownMenu-link {
    background-color: #fcfcfc;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #595959;
    height: 40px;
    border: none;
    font-size: 15px;
    margin-right: 25px;
}

.nav-dropdownMenu-link:hover {
    font-size: 110%;
    background-color: #F5F5F5;
}


.nav-dropdownMenu-icon{
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 7px;
}

.nav-dropdownMenu {
    display: none;
}

.icons {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.nav-categories-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 2px solid #E8E8E8;
    background-color: #f5f5f5;
}
.nav-categoryButton-container{
    display: flex;
    width: 100%;
    flex-direction: column;  
    justify-content: center;
    align-items: flex-start;
}

.nav-categoryButton{
    background-color: rgb(245, 245, 245);
    height: 60px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: none;
    margin-left: 0px;
}
.nav-categoryButton span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.nav-categoryButton label{
    height: 20px;
}
.nav-category {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.nav-category label {
    height: 20px;
}

.nav-category-icons {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.nav-category:hover {
    background-color: #ffffff;
}

@media only screen and (max-width: 1250px) {
    .nav-logo {
        width: 250px;
    }

    .nav-search {
        width: 200px;
    }

}


@media only screen and (max-width: 1000px) {
    :root {
        --title-font-size: 15px;
    }

    .nav-container {
        flex-direction: column;
    }

    .nav-left {
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .nav-right {
        justify-content: space-around;
        align-items: center;
        width: 100%;

    }

    .nav-dropdownMenu-show {
        left: 0;
    }

    .nav-logo {
        width: 250px;
    }

    .nav-container {
        justify-content: flex-start;
    }
    .nav-main{
        flex-direction: column;
    }


    .nav-container {
        margin-top: 15px;
    }

    .nav-categories-container {
        width:100%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .nav-categoryButton{
        width: 200px;
        justify-content: flex-start;
    }
    .nav-category {
        height: 50px;
        width:100%;
        justify-content: center;
        align-items: center;
        justify-content: flex-start;
    }
    
}

@media only screen and (max-width: 650px) {



    .nav-search {
        width: 100px;
        height: 30px;
    }

    .nav-search-select {
        width: 50px;
        height: 35px;
    }

    .nav-logo {
        width: 200px;
        height: 75px;
    }


}