@import url("./variable.css");


.nav-container, .nav-container1, .nav-main, .nav-up, .nav-down, .nav-main-fixed,
.nav-left, .nav-logo, .nav-search-section, .nav-search-button,
.nav-right, .nav-cart, .nav-button,
.nav-dropdownMenu-link, .nav-categories-container, .nav-categoryButton-container,
.nav-categoryButton, .nav-categoryButton span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    width: 100%;
    user-select: none;
    margin-bottom: 30px;
    border-bottom: 2px solid var(--border-color);
    z-index: 99;
    font-size: 0.8rem;
    right: none;
    left: none;
    background-color: var(--background-color);
    padding-bottom: 5px;
}


.nav {
    width: 100%;
    height: 100%;
    max-width: var(--max-width);
}



.nav-fixed {
    background-color: var(--background-color);
    position: fixed;
    right: 80px;
    left: 80px;
    top: 0px;
}


.nav-main {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
}

.nav-up {
    width: 100%;
    height: 65%;
}

.nav-down {
    width: 100%;
    height: 35%;
    justify-content: space-between;
}

.nav-left {
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.nav-logo {
    max-width: 400px;
    height: 100%;
}

.nav-logo img {
    width: 100%;
    height: 100%;
}


.nav-search-section {
    margin-left: 15px;
    width: 100%;
    border: 2px solid var(--border-color);
    border-radius: 10px;
}

.nav-search, .nav-search-select, .nav-search-section button {
    border: none;
    background-color: var(--background-color);
    border-radius: 10px;
    outline: 0;
}

.nav-search {
    width: 100%;
    height: 30px;
    /* border-right: 2px solid #cacaca; */
}

.nav-search-select {
    width: 30%;
    height: 35px;
}

.nav-search-section button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-search-section img {
    margin-top: 5px;
    width: 15px;
    height: 15px;
}



.nav-right {
    width: 40%;
    height: 100%;
    justify-content: space-around;
}


.nav-dropdownMenu-container {
    position: relative;
    display: inline-block;
    height: 80%;
}

.nav-button {
    background-color: var(--background-color);
    flex-direction: column;
    width: 120px;
    height: 80%;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: var(--transition-duration);
    transition-property: transform;
}

.nav-button:hover {
    transform: scale(101%);
    border: 2px solid var(--border-color);
}

#your-account {
    height: 100%;
}



@keyframes dropdownmenuappear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.nav-dropdownMenu-show {
    border-radius: 10px;
    border: 3px solid var(--border-color);
    flex-direction: column;
    position: absolute;
    z-index: 1000;
    width: 250px;
    min-width: 150px;
    margin-bottom: 60px;
    animation-name: dropdownmenuappear;
    animation-duration: var(--transition-duration);
}

.nav-dropdownMenu-link {
    width: 100%;
    justify-content: flex-start;
    height: 40px;
    border: none;
    margin-right: 25px;
    font-size: 0.8rem;
    background-color: var(--background-color);
}

.nav-dropdownMenu-link:hover {
    transform: scale(102%);
    background-color: var(--border-color);
}


.nav-dropdownMenu-icon {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 7px;
}

.nav-dropdownMenu {
    display: none;
}

.icons {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.nav-categories-container {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.nav-categoryButton-container {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.nav-categoryButton {
    height: 60px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: none;
    margin-left: 0px;
    background-color: var(--background-color);
}

.nav-categoryButton span {
    height: 100%;
}

.nav-categoryButton label {
    height: 20px;
}

.nav-category {
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition-duration: var(--transition-duration);

}

.nav-category label {
    height: 20px;
}

.nav-category-icons {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.nav-category:hover {
    transform: scale(102%);
    background-color: rgb(245, 245, 245);
}


@media all and (max-width: 1350px) {
    .nav-logo {
        max-width: 300px;
    }

    .nav-right {
        justify-content: space-between;
    }

    .nav-dropdownMenu-show {
        left: 0;
    }
    .nav-dropdownMenu-link{
        font-size: inherit;
    }

    .nav-main-fixed {
        flex-direction: column;
    }

    .nav-categories-container {
        width: 100px;
        height: 100%;
    }

    .nav-categoryButton {
        width: 100px;
    }

    .nav-category {
        height: 50px;
        width: 100%;
        justify-content: center;
        align-items: center;
        justify-content: flex-start;
    }

}

@media (max-width: 650px) {
    .nav-container {
        border: none;
        font-size: 0.6rem;
    }

    .nav-down {
        justify-content: flex-start;
        height: 30%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .nav-categories-container {
        align-items: center;
    }



    .nav-search-section {
        width: 100%;
        height: 100%;
        justify-content: flex-start;
    }

    .nav-search {
        width: 100%;
        height: 90%;
        margin: 0px;
    }

    .nav-search-select {
        width: 30%;
        height: 100%;
    }

    .nav-search-section button {
        width: 20%;
        height: 100%;
    }


    .nav-main {
        height: 120px;
    }

    .nav-up {
        justify-content: space-between;
        height: 70%;
    }

    .nav-left {
        width: auto;
        height: 100%;
        justify-content: space-between;
    }

    .nav-right {
        width: auto;
        min-width: 250px;
    }

    .nav-logo {
        max-width: 200px;
    }


    .nav-button {
        width: 90px;
        height: 100%;
        border-radius: 0px;
        transition: none;
        margin: 0px;
    }

    .nav-button:hover {
        /* transform:none; */
        border: none;

    }

    .nav-dropdownMenu-container1:hover {
        transform: none;
        border: none;
    }


    .nav-dropdownMenu-show {
        width: 100px;
    }

    #accountMenu {
        left: auto;
        right: 0px;
    }

}