.orderform-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    max-width: 2000px;
    width: 100%;
    min-height: 600px;
}



.orderform-form-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.orderform-delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.orderform-form-details label {
    display: inline-flex;
    width: 120px;
    /* align-items: left; */
}

.orderform-form-details input {
    width: 200px;
    border-radius: 7px;
    border-color: #c2c1c1;
    border-style: solid;
}

.orderform-form-button-details-button-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderform-form-details-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #29aa3a;
    color: white;
    width: 170px;
    height: 60px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.orderform-form-details-button:hover {
    transform: scale(102%);
    background-color: rgb(7, 153, 104);
}


.orderform-cart-cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderform-cart-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #c2c1c1;
    border-radius: 10px;
}

.orderform-cart-product-link {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #c2c1c1;
}
.orderform-cart-container-totalAmountLabel{
    margin-top: 10px;
    margin-bottom: 10px;
}
.orderform-cart-product-link label {
    width: 200px;
}

.orderform-img {
    height: 50px;
    width: 50px;
}

.orderform-placed-order{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 600px;
    max-width: 2000px;
    width: 100%;
}
.orderform-placed-order span{
    margin-bottom: 40px;
}
@media (max-width: 750px) {
    .orderform-container {
        flex-direction: column;
    }

    .orderform-form-container {
        width: 100%;
    }

    .orderform-cart-container {
        margin-top: 30px;
        width: 100%;
    }
}