:root {
    --button-width: 300px;
    --button-font: 1rem;
    --product-photo-height: 600px;
    --margin-purchase-section: 80px;
    --product-title-font-size: 1.6rem;
}

.product {
    align-items: center;
}

.product__category {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.product__category a {
    color: #858383;
    font-size: 0.7rem;
}

.product__main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.product__name {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.product__name h1, .product__name h2 {
    font-size: var(--product-title-font-size);
}


.product__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.product__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--product-photo-height);
    user-select: none;
}

.product__img img {
    max-width: 80%;
    max-height: 80%;
}

.product__info {
    height: var(--product-photo-height);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.product__purchase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.product__button {
    display: flex;
    justify-content: center;
    width: var(--button-width);
    font-size: var(--button-font);
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgb(55, 179, 7);
}

.product__button:hover {
    background-color: rgb(10, 241, 126);
}

.product__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.product__description h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__parameter {
    width: 100%;
    margin-bottom: 150px;
}


.product__parameter ul {
    width: 100%;
    border-top: 2px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product__parameter ul li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product ul li span {
    width: 50%;
}

@media (max-width: 1200px) {
    :root {
        --product-title-font-size: 1.3rem;
        --button-font: 0.8rem;
        --button-width: 200px;
    }
}

@media (max-width: 1000px) {
    :root {
        --product-title-font-size: 1rem;
        --button-font: 0.8rem;
        --button-width: 200px;
    }
}

@media (max-width: 700px) {
    :root {
        --button-width: 130px;
        --button-font: 0.6rem;
        --product-photo-height: 300px;
        --margin-purchase-section: 0px;
        --product-title-font-size: 0.7rem;
    }

    .product-category a {
        font-size: 0.6rem;
    }

    .product-button {
        padding: 10px;
    }
}

