.searchProducts {
    flex-direction: row;
    justify-content: center;
}

.searchProducts h1 {
    font-size: 1.4rem;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: 2px solid #E8E8E8;
    margin-bottom: 25px;
    list-style-type: none;
    max-width: 290px;
    padding: 15px;
}
.filter ul{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    margin-bottom: 20px;
}
.filter ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.filter__img {
    max-height: 20px;
    max-width: 20px;
}

.filter__select{
    min-width: 120px;   
}

.filter ul li span {
    width: 100%;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter__inputNumber{
    width: 80px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    border: 2px solid #E8E8E8;
    border-radius: 5px;
}

.filter__button{
    margin-top: 30px;
    padding: 10px 0 10px 0 ;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #E8E8E8;
}
.filter__button:hover{
    background-color: #c8c8c8;
}

.searchProducts__nav{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.searchProducts__nav h1{
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchProducts__list h1 {
    margin-top: 0px;
}

.searchProducts__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 600px;
}

.searchProducts__product {
    border-radius: 15px;
    border: 2px solid #E8E8E8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 150px;
    margin-bottom: 50px;
}

.searchProducts__productInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    height: 150px;
}

.searchProducts__productInfo img {
    max-height: 80%;
    max-width: 80%;
}

.searchProducts__productInfo div{
    max-height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.searchProducts__purchase {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-right: 15px;
    height: 150px;
    justify-content: flex-end;
    align-items: center;
}



.searchProducts__button {
    display: flex;
    justify-content: center;
    padding: 25px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(55, 179, 7);
    color: #E8E8E8;
    border: 0 solid #fff;
}

.searchProducts__button:hover {
    background-color: rgb(42, 128, 9);
}

.mobileFilter{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(49,49,49,0.8);

    display: flex;
    justify-content: center;
    align-items: center;
}

.mobileFilter ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #ffff;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.mobileFilter ul li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
}
.mobileFilter ul li span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}



@media (max-width: 1200px) {
    .searchProducts__button {
        padding: 15px;
    }

    .filter{
        width: 20%;
        border: none;
        position: relative;
        display: flex;
        align-items: flex-start;
        left: 0;
    }
    .searchProducts__nav h1{
        width: 60%;
        font-size: 1.2rem;
    }
}


@media (max-width: 800px) {
    .searchProducts__productInfo {
        width: 70%;
    }
    .searchProducts__productInfo div{
        margin-left: 10px;
    }

    .searchProducts__purchase {
        width: 30%;
        margin-right: 0;
    }


}

@media (max-width: 600px) {

    .mobileFilter{
        min-width: 400px;
    }

    .searchProducts__button {
        padding: 5px 0 5px 0;
    }
}