@import "../variable.css";

a {
    text-decoration: none;
    color: black;
}

.orders__filter {
    width: 290px;
}

.orders__dropdownMenu--hidden {
    display: none;
}

.orders__dropdownMenu,
.orders__order,
.orders__img,
.userOrders-order-products-img-container {
    display: flex;
    flex-direction: row;
}
.orders__dropdownMenu{
    cursor: pointer;
}
.orders__dropdownMenu span {
    margin-left: 10px;
    padding-left: 10px;
    border: 2px solid #e8e8e8;
    border-radius: 12px;
    width: 200px;
}

.orders__filterButton {
    padding: 10px;
    background-color: #1975b4;
    color: white;
    border-radius: 10px;
    border: none;
    width: 120px;
    margin-top: 15px;
}

.orders__order {
    width: 100%;
    margin-bottom: 30px;
    border-style: solid;
    border-radius: 15px;
    border-color: var(--border-color);
}

.orders__order:hover {
    box-shadow: 1px 1px 5px #cacaca;
}

.orders__orderDetails {
    background-color: rgb(227, 227, 227);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border-color: var(--border-color);
    flex-wrap: wrap;
}

.orders__orderDetails span {
    margin-bottom: 15px;
}

.orders__images {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.orders__img {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 7px;
}

 .orders__img img{
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.orders__img img {
    max-width: 100px;
    max-height: 100px;
}

@media (max-width: 750px) {
    .orders__img img {
        max-width: 80px;
        max-height: 80px;
    }
}

@media (max-width: 500px) {
    .orders__img img {
        max-width: 60px;
        max-height: 60px;
    }
}