@import "../variable.css";

.orderform-container {
    flex-direction: row;
    justify-content: center;
}

.orderform-form-container,.orderform-delivery, .orderform-form-details,.orderform-cart-cart,.orderform-cart-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.orderform-form-container {
    justify-content: flex-start;
    align-items: flex-start;
}

.orderform-delivery {
    justify-content: center;
}

 .orderform-form-details{
    justify-content: space-between;
}


.orderform-form-details input {
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border-color: #c2c1c1;
    border-style: solid;
}
.form-errorMsg{
    color:red;
    font-size: 0.8rem;
}

.orderform-form-button-details-button-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.orderform-form-details-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #29aa3a;
    color: white;
    width: 170px;
    height: 60px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.orderform-form-details-button:hover {
    transform: scale(102%);
    background-color: rgb(7, 153, 104);
}

.orderform-cart-container {
    justify-content: space-between;
    align-items: center;
    border: 2px solid #c2c1c1;
    border-radius: 10px;
}

.orderform-cart-cart {
    align-items: center;
}

.orderform-cart-product-link {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #c2c1c1;
}
.orderform-cart-container-totalAmountLabel{
    margin-top: 10px;
    margin-bottom: 10px;
}
.orderform-cart-product-link label {
    width: 200px;
}

.orderform-img {
    height: 50px;
    width: 50px;
}

.orderform-placed-order{
    align-items: center;
    justify-content: flex-start;
}
.orderform-placed-order span{
    margin-bottom: 40px;
}


@media (max-width: 850px) {
    .orderform-container {
        flex-direction: column;
    }

    .orderform-cart-container {
        margin-top: 30px;
        width: 100%;
    }
}