@import "../variable.css";

.orderForm {
    flex-direction: row;
    justify-content: center;
}

.orderForm form, .orderForm__delivery, .orderForm__details,.orderForm__productList,.orderForm__cart{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.orderForm__delivery {
    justify-content: center;
}

 .orderForm__details{
    justify-content: space-between;
}


.orderForm__details input {
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border-color: #c2c1c1;
    border-style: solid;
}

.orderForm__errorMsg{
    color:red;
    font-size: 0.8rem;
}



.orderForm__button {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #29aa3a;
    color: white;
    width: 170px;
    height: 60px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.orderForm button:hover {
    transform: scale(102%);
    background-color: rgb(7, 153, 104);
}

.orderForm__cart {
    justify-content: space-between;
    align-items: center;
    border: 2px solid #c2c1c1;
    border-radius: 10px;
}

.orderForm__productList {
    align-items: center;
}

.orderForm__product {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #c2c1c1;
}
.orderForm__totalAmount{
    margin-top: 10px;
    margin-bottom: 10px;
}
.orderForm__product label {
    width: 200px;
}

.orderForm__productList img {
    height: 50px;
    width: 50px;
}

.orderForm__placedOrder{
    align-items: center;
    justify-content: flex-start;
}
.orderForm__placedOrder span{
    margin-bottom: 40px;
}


@media (max-width: 850px) {
    .orderForm {
        flex-direction: column;
    }

    .orderForm__cart {
        margin-top: 30px;
        width: 100%;
    }
    .orderForm__details input{
        width: 100%;
        height: 20px;
    }
}