@import url("../variable.css");

.orderdetails-details, .orderdetails-products, .orderdetails-amount {
    display: flex;
    flex-direction: column;
}

.orderdetails-products-product, .orderdetails-products-product-left, .orderdetails-products-product-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.orderdetails-products-product {
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.orderdetails-products-product-left {
    width: 60%;
}

.orderdetails-products-product-right {
    justify-content: space-between;
    width: 30%;
}


.orderdetails-products-product-img {
    width: 200px;
    height: 200px;
}

.orderdetails-amount {
    height: 100px;
    align-items: flex-end;
    justify-content: space-between;
}

.orderdetails-amount li {
    height: 100%;
    width: 400px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.orderdetails-amount li ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


@media (max-width: 1200px) {
    .orderdetails-products-product-img {
        width: 150px;
        height: 150px;
    }

}

@media (max-width: 650px) {
    .orderdetails-container {
        font-size: 0.6rem;
    }

    .orderdetails-products-product-img {
        width: 75px;
        height: 75px;
    }

    .orderdetails-amount li{
        width: 100%;
    }
}