@import url("../variable.css");

.orderDetails_info, .orderDetails__productList, .orderDetails__amount {
    display: flex;
    flex-direction: column;
}

.orderDetails__product, .orderDetails_productName, .orderDetails_productPriceAmount {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.orderDetails__product {
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.orderDetails_productName {
    width: 60%;
}

.orderDetails_productPriceAmount {
    justify-content: space-between;
    width: 30%;
}


.orderDetails_productName img {
    width: 200px;
    height: 200px;
}

.orderDetails__amount {
    height: 100px;
    align-items: flex-end;
    justify-content: space-between;
}

.orderDetails__amount li {
    height: 100%;
    width: 400px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.orderDetails__amount li ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


@media (max-width: 1200px) {
    .orderDetails_productName img {
        width: 150px;
        height: 150px;
    }

}

@media (max-width: 650px) {
    .orderDetails_productName img {
        width: 75px;
        height: 75px;
    }

    .orderDetails__amount li{
        width: 100%;
    }
}