.settings {
    justify-content: space-around;
    align-items: center;
    min-height: 1300px;
}

.settings__header {
    width: 60%;
}

.settings__accountData {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.settings__form {
    border: 2px solid #c2c2c2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    min-height: 400px;
}

.settings form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 270px;
}
.settings__form--changePassword form{
min-height: 400px;
}

.settings__formControl {
    display: flex;
    flex-direction: column;
}

label.settings__formControl {
    font-size: 45px;
}

input.settings__formControl {
    width: 300px;
    height: 30px;
    border: 2px solid #c2c2c2;
    border-radius: 10px;
}

.settings__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1285d1;
    color: white;
    width: 300px;
    height: 60px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.settings__button:hover {
    background-color: #136eaa;
}

.settings__errorMsg {
    color: red;
    font-size: 0.7rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (max-width: 600px) {

    .settings__header {
        width: 100%;
    }

    .settings {
        font-size: 0.7rem;
    }
    .settings__form{
        width: 90%;
    }

    input.settings__formControl {
        width: 200px;
    }

    .settings__button {
        height: 40px;
        width: 200px;
    }

}